<main>
    <section class="form-section">
        <img src="assets/svg/logo-biblioconection.svg" alt="Logo">
        <h2>{{ title }}</h2>
        <button class="btn-primary">{{ primaryBtnText }}</button>
        <div>
            <span>or</span>
        </div>
        <button class="btn-secundary">{{ secundaryBtnText }}</button>
    </section>
    <section class="main-section">
        <h1 class="text">Explore Every World Through Books!</h1>
        <img src="assets/svg/main-illustration-astro-test.svg" class="footer-image" />
    </section>
</main>