

<main>
    <section class="form-section">
        <img class="Logo" src="assets/svg/logo-biblioconection.svg" alt="Logo">
        <h2>{{ title }}</h2>
        <ng-content></ng-content>
        <div class="btn-wrapper">
        <button class="btn-primary" (click)="submit()">{{ primaryBtnText }}</button>
        <div class="divider">
            <div></div>
            <span>or</span>
            <div></div>
        </div>
        <button class="btn-secundary" (click)="navigate()">{{ secundaryBtnText }}</button>
      </div>
    </section>
    <section class="main-section">
        <h1 class="text">Explore Every World Through Books!</h1>
        <img src="assets/svg/main-illustration-astro-test.svg" class="footer-image" />
    </section>
</main>
